[submodule "smw"]
	path = smw
	url = https://github.com/marian-m12l/smw.git
[submodule "Core/Src/porting/lib/littlefs"]
	path = Core/Src/porting/lib/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "Core/Src/porting/lib/tamp"]
	path = Core/Src/porting/lib/tamp
	url = https://github.com/BrianPugh/tamp.git
